@use "../abstracts/" as *;

.cta {
  margin-top: 1.38rem;

  @include mq(768px) {
    margin-top: get-clamp(4rem, 9.5rem, 48rem, 62.5rem);
  }

  &__wrapper {
    position: relative;
    overflow-x: clip;
  }

  &__title {
    max-width: 15ch;
  }

  &__desc {
    margin-top: 1.8rem;
    max-width: 34ch;
  }

  &__img {
    z-index: -1;
    max-width: 72.92rem;
    margin-inline: auto;
    transform: scale(1.275);

    @include mq(768px) {
      position: absolute;
      inset: 0;
      transform: scale(0.9) translateX(47%) translateY(max(-45% - 20vw, -100%));
    }
  }
}
