@use "../abstracts/" as *;

.cta {
  position: relative;
  overflow-x: clip;
  margin-top: 1.38rem;

  @include mq(768px) {
    margin-top: 4rem;
  }

  &__title {
    max-width: 15ch;
  }

  &__desc {
    margin-top: 1.62rem;
    max-width: 34ch;
  }

  &__img {
    @include mq($until: 768px) {
      margin-inline: auto;
      transform: scale(1.275);
    }

    @include mq(768px) {
      position: absolute;
      inset: 0 0 auto auto;
      transform: scale(0.91) translate(48%, calc(-40% + 5vw));
    }
  }
}
