@use "../abstracts/" as *;

.btn {
  padding: 0.9rem 1.5rem;
  border-radius: 5rem;

  .header & {
    background-color: $clr-blue-dark;

    &:hover,
    &:focus {
      background-color: $clr-blue-light;
    }
  }

  .cta & {
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    padding: 1rem 2.35rem;
    background-image: linear-gradient($grd-orange-pink);

    &:hover,
    &:focus {
      opacity: 50%;
    }
  }

  .footer & {
    background-image: linear-gradient($grd-blue-pink);

    &:hover,
    &:focus {
      opacity: 50%;
    }
  }
}
