@use "../abstracts/" as *;

@font-face {
  font: {
    family: "Jakarta";
    weight: 500 800;
  }
  src: url("../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf")
    format("truetype");
}

body {
  font: 500 1rem / normal "Jakarta", sans-serif;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-weight: 800;
}

.btn {
  font-size: get-clamp(1rem, 1.125rem, 48rem, 62.5rem);
  font-weight: 700;
  color: $clr-white;
}

.cta {
  &__title {
    font-size: get-clamp(2.5rem, 3.5rem, 48rem, 62.5rem);
    color: $clr-blue-dark;
  }

  &__desc {
    font-size: get-clamp(1rem, 1.125rem, 48rem, 62.5rem);
    line-height: get-clamp(1.625rem, 1.75rem, 48rem, 62.5rem);
    color: $clr-grey;
  }
}

.grid {
  &__title-main {
    font-size: get-clamp(1.5rem, 2rem, 48rem, 62.5rem);
    line-height: get-clamp(2rem, 2.5rem, 48rem, 62.5rem);
    color: $clr-white;
  }

  &__title-sub {
    font-size: get-clamp(1.25rem, 1.5rem, 48rem, 62.5rem);
    color: $clr-blue-dark;
  }

  &__desc {
    font-size: get-clamp(1rem, 1.125rem, 48rem, 62.5rem);
    line-height: get-clamp(1.625rem, 1.75rem, 48rem, 62.5rem);
    color: $clr-grey;
  }

  &__link {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75rem;
    color: $clr-pink-dark;
    text-decoration: none;
  }
}
