@use "functions" as *;

// colors

$clr-blue-light: #666ca3;
$clr-blue-dark: #13183f;
$clr-grey: #83869a;
$clr-pink-light: #ffa7c3;
$clr-pink-dark: #f74780;
$clr-white: #fff;

// gradients

$grd-orange-pink: #ff6f48, #f02aa6;
$grd-blue-pink: #4851ff, #f02aa6;

// sizing

$padding-inline-main: get-clamp(1rem, 2.5rem, 23.4375rem, 48rem);
