*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Jakarta";
  font-weight: 500 800;
  src: url("../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
}
body {
  font: 500 1rem/normal "Jakarta", sans-serif;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-weight: 800;
}

.btn {
  font-size: clamp(
    1rem,
    0.86vw + 0.59rem,
    1.13rem
  );
  font-weight: 700;
  color: #fff;
}

.cta__title {
  font-size: clamp(
    2.5rem,
    6.9vw + -0.81rem,
    3.5rem
  );
  color: #13183f;
}
.cta__desc {
  font-size: clamp(
    1rem,
    0.86vw + 0.59rem,
    1.13rem
  );
  line-height: clamp(
    1.63rem,
    0.86vw + 1.21rem,
    1.75rem
  );
  color: #83869a;
}

.grid__title-main {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fff;
}
.grid__title-sub {
  font-size: 1.25rem;
  color: #13183f;
}
.grid__desc {
  font-size: 1rem;
  line-height: 1.625rem;
  color: #83869a;
}
.grid__link {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
  color: #f74780;
  text-decoration: none;
}

.max-width {
  max-width: 69.38rem;
  margin-inline: auto;
  padding-inline: clamp(
    1rem,
    6.11vw + -0.43rem,
    2.5rem
  );
}

@media (max-width: 48em) {
  .logo {
    height: 1.45rem;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  padding-block: clamp(
    1rem,
    2.04vw + 0.52rem,
    1.5rem
  );
}

.cta {
  position: relative;
  overflow-x: clip;
  margin-top: 1.38rem;
}
@media (min-width: 48em) {
  .cta {
    margin-top: 4rem;
  }
}
.cta__title {
  max-width: 15ch;
}
.cta__desc {
  margin-top: 1.62rem;
  max-width: 34ch;
}
@media (max-width: 48em) {
  .cta__img {
    margin-inline: auto;
    transform: scale(1.275);
  }
}
@media (min-width: 48em) {
  .cta__img {
    position: absolute;
    inset: 0 0 auto auto;
    transform: scale(0.91) translate(48%, calc(-40% + 5vw));
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.91rem, 1fr));
  gap: 2.5rem 0.7rem;
  margin-top: 1.5rem;
  padding-bottom: 5rem;
}
@media (min-width: 48em) {
  .grid {
    margin-top: 9rem;
  }
}
.grid__bg-wrapper {
  background: linear-gradient(#fff, #f0f1ff);
}
.grid__box:first-child {
  padding-top: 1.5rem;
  background: linear-gradient(#ff6f48, #f02aa6);
}
@media (min-width: 40.625em) {
  .grid__box:first-child {
    padding-top: 3.5rem;
  }
}
.grid__box {
  padding: 0 clamp(
    1.75rem,
    3.39vw + 0.37rem,
    2rem
  ) 2rem;
  background: #fff;
  border-radius: 0.625rem;
}
.grid__box img {
  position: relative;
  transform: translateY(-43%);
}
.grid__desc {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 2.6rem;
}
.footer__bg-wrapper {
  background: #13183f;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 5rem;
}
.header .btn {
  background-color: #13183f;
}
.header .btn:hover, .header .btn:focus {
  background-color: #666ca3;
}
.cta .btn {
  margin-top: clamp(
    1.5rem,
    6.9vw + -1.81rem,
    2.5rem
  );
  margin-bottom: 4rem;
  background-image: linear-gradient(#ff6f48, #f02aa6);
}
.cta .btn:hover, .cta .btn:focus {
  opacity: 50%;
}
.footer .btn {
  background-image: linear-gradient(#4851ff, #f02aa6);
}
.footer .btn:hover, .footer .btn:focus {
  opacity: 50%;
}/*# sourceMappingURL=main.css.map */